<div id="header" class="container grey-bg">
  <div class="row">
    <div class="logo left">
      <h1><a href="/">Corina Listaru</a></h1>
      <h2>atelier de zâmbete</h2>
    </div>

    <div id="main-menu">
      <div class="hide-xs hide-sm hide-md right">
        <br/>
        <ul class="menu">
          <li><a href="/">acasa</a></li>
          <li><a href="/despre-noi.html">despre noi</a></li>
          <li><a href="/servicii.html">servicii</a></li>
          <li><a href="/portofoliu.html">portofoliu</a></li>
          <li><a href="/contact.html">contact</a></li>
        </ul>
      </div>
      <div class="hide-lg hide-xl" style="float: right; margin-top: 30px;">
        <img src="/assets/img/menu.png" id="toggle-menu" alt="menu graphic">
      </div>
      <div id="main-menu-mobile" class="text-center" style="display:none">
        <div>
          <a href="/">acasă</a></li>
          <a href="/despre-noi.html">despre noi</a>
          <a href="/servicii.html">servicii</a>
          <a href="/portofoliu.html">portofoliu</a>
          <a href="/contact.html">contact</a>
          <p>&nbsp;</p>
          <a id="close-menu">x</a>
        </div>
      </div>
    </div>

  </div>
</div>
